body{
font-family: 'Poiret One', cursive;
}

#wrapper{
    width: 800px;
    margin: 0 auto;
    background-color: #d1e2f2;
    color: #73449d;
}

#phone{
    position: absolute;
    top: 50px;
    right: 300px;
}

nav {
    width: 100%;
}

ul {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

li {
    text-align: center;
    display: block;
    float: left;
    width: calc(100%/6);
    padding: 3px;
    box-sizing: border-box;
    border-right: 1px solid #73449d;
}

h1, h2{
    text-align: center;
    font-variant: small-caps;
    padding-top: 50px;
}
h2{
  padding-top: 30px;  
}

#logo{
    position: absolute;
    top: 0;
    left: 240px;
    width: 15%;
}

a {
    text-decoration: none;
    color: #73449d; 
    background-color: #bcbfcf;
}

.active a {
    background-color: #d1e2f2;
    font-weight: bold;
}

.index_block{
    width: 33%;
    float: left;
    padding-top: 30px;
    text-align: center;
}

#index_flexbox{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.index_list{
  		display: block;
		text-align: center;
		margin: 0;
		padding: 0;  
}

.index_li {
		text-align: center;
        border: none;
        float: none;
        width: 100%;
        padding-bottom: 30px;
}

.index_image{
    border-radius: 200px;
    width: 45%;
    display: block;
    margin: 0 auto;
}

footer{
    position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear:both;
    background-color: #b2aae6;
} 



#about_text{
    padding-bottom: 140px;
    display: block;
    width: 80%;
    margin: 0 auto;
}
h4{
    text-align: center;
}

